@import "primer-markdown/index.scss";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$n_space:5;
$n_flex:12;
$gap_space_small:0.5; 
$gap_space_regular:2;
$font-size_base:10px;
$gap_font-size:1px;

$colorlist: (
   ('red',#dd6159),
   ('red-dim',#f06963),
   ('lighter-yellow',#fed408),
   ('yellow',#EEC91A),
   ('yellow-dim',#b49a32),
   ('yellow-blend',#9f891ea3),
   ('blue',#27b6be),
   ('police-blue',#23b7e5),
   ('blue-dim',#2ac3cb),
   ('dark',#3d4d64),
   ('dark-dim',#455670),
   ('green',#dd6159),
   ('green-dim',#dd6159),
   ('forest-green',#56653B),
   ('logo-green', #417505),
   ('emerald-green',#61A018),
   ('dark-green',#49553A),
   ('mold-green',#97B1A6),
   ('primary',#2ac3cb),
   ('primary-dim',#6ED1D6),
   ('light-gray', #edf3f3),
   ('gray',#98a3a5),
   ('white',#ffffff)
);

$tentenlist: (
   '../images/tenten02.png',
   '../images/tenten03.png',
   '../images/tenten04.png',
   '../images/tenten05.png',
   '../images/tenten06.png',
   '../images/tenten07.png',
   '../images/tenten08.png',
   '../images/tenten09.png',
);

@function getColor($_color){
   @each $item in $colorlist {
      @if nth($item,1) == $_color {
         @return nth($item,2)
      }
   }
   @return #3d4d64
}

/* ============================================================ */
/* Components                                                   */
/* ============================================================ */

*{
   box-sizing: border-box;
}

body{
   background-color:getColor('white');
   font-family: 'PT Sans', 'Noto Sans TC', 'Noto Sans', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', '微軟正黑體', 'Microsoft JhengHei', 'lucida grande', 'tahoma', 'verdana', 'arial', sans-serif;
   font-size: 16px;
   line-height: 1.5em;
   padding:0;
   margin: 0;
   position:relative;
   .__wrapper__{
      padding:0;
      margin: 0;
      position:relative;
      width:100%;

      footer{
         width: 100%;
         text-align: center;
         position:relative;
         padding:10em 0 2em 0;
         .row{
            width: 100%;
            position:relative;
         }
         .separator-footer{
            height: 1px;
            width: 48px;
            border-top: 8px solid getColor('emerald-green');
         }
         .copyright{
            color: getColor('logo-green');
         }
      }
      
      .container, .body-container, .banner-container>.inner{
         margin:0 auto 0 auto;
         min-width: 800px;
         width:65%;
         max-width: 1280;
         position:relative;
      }
      
      .banner-container {
         position:relative;
         background-color: getColor('yellow');
         border-top:1px solid getColor('yellow'); /* to avoid Collapsing margins */
         border-bottom:1px solid getColor('yellow'); /* to avoid Collapsing margins */
         color: getColor('white');
         height: 600px;
         padding:0;
         
         .top{
            position:relative;
            top:0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: right;
            vertical-align: middle;
            color:getColor('dark-green');
            padding:0 3em 0 3em;
            a{
               text-decoration: underline;
               display: inline-block;
               color:getColor('dark-green'); 
            }
            
         }

         h1{
            font-weight: 500;
            font-size: 6rem;
            text-shadow: 0 0 5px getColor('lighter-yellow');
         }
         #tenten{
            position:absolute;
            bottom:0;
            left: -60px;
            width: 650px;
            height: 650px;
            background-image: url('../images/tenten01.png');
            background-size:cover;
            background-position: 0 110px;
            background-repeat:no-repeat;
         }

         .title-box{
            position:relative;
            margin-top: 87px;
            margin-right: calc( 0.12 * 100vw );
            margin-left: auto;
            width: 655px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title{
               position:relative;
               width: 100%;
               text-align: right;
               p.h1{
                  font-weight: 700;
                  font-size: 80px;
                  color: getColor('logo-green');
                  /* text-shadow: 0 0 1px getColor('dark'); */
               }
            }
            .note{
               width: 50%;
               text-align: right;
               p{
                  color: getColor('dark-green');
                  font-size: 16px;
                  line-height: 24px;
                  margin:0;
                  padding:0;
               }
            }
            .title-local{
               width: 50%;
               .logo{
                  color: getColor('logo-green');
                  .circle{
                     width: 100px;
                     height:100px;
                     border-radius: 50px;
                     border:1px solid #{getColor('logo-green')};
                     background-color: getColor('white');
                     display: inline-flex;
                     flex-direction: column;
                     justify-content: center;
                     align-content: center;
                     .line{
                        text-align: center;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 700;
                        letter-spacing: 0.08em;
                     }
                  }
               }
               .separator-vertical{
                  width: 1px;
                  height: 40px;
                  margin:0 1.5em 0 1.5em;
                  border-left: 8px solid #{getColor('emerald-green')};
               }
               .name{
                  color: getColor('dark-green');
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 28px;
                  letter-spacing: 0.3em;
                  padding:2em 0 2em 0;
               }
            }
         }
      }

      .body-container {
         width: 1140px;
         background-image:url('../images/bg_japan.jpg');
         
         background-color: getColor('yellow-blend');
         background-blend-mode: overlay;

         background-repeat:repeat-y;
         background-size:cover;

         .pad-top{
            height: 60px;
            background-color:getColor('white');
         }
         .postgrid-container{
            width: 100%;
            display: grid;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-columns: auto auto auto;
            position:relative;

            .grid{
               display: inline-grid;
               position:relative;
               padding:0;
               margin:0;
               border:0;
               grid-template-columns: 40% 60%;
               grid-template-rows: 75px 275px;
               
               .g-text{

                  grid-column-start: 1;
                  grid-column-end: 3;
                  grid-row-start: 1;
                  grid-row-end: 2;

                  z-index: 2;
                  background-color:getColor('white');
                  width: 100%;
                  line-height: 50px;
                  padding-top:1em;
                  font-size: 24px;
                  text-decoration: underline;
                  text-align: center;
               }
               
               @for $i from 1 through length($tentenlist) {
                  .g-tenten-#{$i} { 
                     grid-column-start: 2;
                     grid-column-end: 3;
                     grid-row-start: 2;
                     grid-row-end: 3;
                     
                     z-index: 3;

                     background-image:url( #{nth($tentenlist, $i)} );
                     background-size:contain;
                     background-repeat:no-repeat;
                  }
               }

               .g-rectpic{
                  grid-column-start: 1;
                  grid-column-end: 3;
                  grid-row-start: 2;
                  grid-row-end: 3;

                  padding:0;
                  margin:0;
                  border:0;
                  .g-mask{
                     position:absolute;
                     z-index: 1;
                     background-color:transparent;
                     background-image:url('../images/grid_mask_2.svg');
                     width: 100%;
                     height:275px; 
                     background-repeat:repeat-y;  
                  }
                  .g-fill{
                     position:absolute;
                     z-index: 1;
                     background-color:getColor('white');
                     width: 100%;
                     height:275px;  
                  }
               }
               
            }
            
         }
      }
   }

   a{
      color: getColor('red-dim');
      text-decoration: none;
   }

   a:hover{
      color: getColor('red');
      text-decoration: none;
   }
   
   ul{
      padding-left:0;
      li{
         list-style: none;
      }
   }

   hr{
      border-top: none;
      border-bottom: 1px solid getColor('white');
   }
}


@for $i from 0 through $n_space {
   .p-#{$i} { padding: 1em* $i * $gap_space_small;  }
   .pl-#{$i} { padding-left: 1em *$i * $gap_space_small;  }
   .pr-#{$i} { padding-right: 1em *$i * $gap_space_small;  }
   .pt-#{$i} { padding-top: 1em *$i * $gap_space_small;  }
   .pb-#{$i} { padding-bottom: 1em *$i * $gap_space_small;  }

   .m-#{$i} { margin: 1em *$i * $gap_space_small;  }
   .ml-#{$i} { margin-left: 1em *$i * $gap_space_small;  }
   .mr-#{$i} { margin-right: 1em *$i * $gap_space_small;  }
   .mt-#{$i} { margin-top: 1em *$i * $gap_space_small;  }
   .mb-#{$i} { margin-bottom: 1em *$i * $gap_space_small;  }
}

@for $i from 1 through 9 {
   .fw-#{$i} { font-weight: $i *100 ; }
}

@each $item in $colorlist {
   .bg-#{nth($item,1)} { background-color: nth($item,2); }
   //override .btn-default 
   .btn.btn-default.bg-#{nth($item,1)} { 
      background-color: nth($item,2) !important;
      color:#fff !important;
   }
   .btn.btn-default.bg-#{nth($item,1)}:hover { 
      background-color: nth($item,2) !important;
      color:#fff !important;
      opacity:0.8;
   }
   .text-#{nth($item,1)} { color: nth($item,2); }
}

@for $i from 1 through $n_space {
   .w-#{$i} { width: $i * $gap_space_regular em; }
}

@for $i from 1 through $n_flex {
   .flex-#{$i} { flex: $i; }
}

h1,h2,h3,h4,h5,h6{
   line-height: 1.5em;
   margin:0.5em 0 0 0 ;
}

h1{
   font-size: 3rem;   
}

h2{
   font-size: 2rem;
}

h3{
   font-size: 1.5rem;
}

h5{
   font-size: 1rem;
}

h6{
   font-size: 0.8rem; 
}

.dim{
   opacity:0.8;
}
.dim-more{
   opacity:0.5;
}

.text-right { 
   text-align:right;
}

.text-center { 
   text-align:center;
}

.text-danger {
   color: getColor('red');
}

.text-primary {
   color: getColor('primary');
}

.dib{
   display:inline-block;
   vertical-align:middle;
}
.flex-row{
   width: 100%;
}
